@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Work+Sans:ital,wght@1,900&display=swap');

.back-image {
  background-image: url("../images/boy_soccer3.JPG");
  background-color: #000000;
  height: 900px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;

}
.hero-text {
  text-align: left;
  position: absolute;
  font-weight: 1200;
  top: 50%;
  left: 25%;
  right: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.button {
  width: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
/*  margin-left: 5px;*/
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  color: black;

}

.button-4 {
  background-color: #000;
  border: 3px solid #009999;
  color: white;
  transition: .3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);

}
.button-4:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
/*=====================================================================================================================================================================*/
/*header page*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  text-decoration: none
}
nav li {
  float: right;
  text-decoration: none
}
.nav-bar {
  display: block;
  color: #000;
  padding: 25px 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none
}

.nav-bar:hover {
  background-color: #009999;
  color: white;
  text-decoration: none
}

body {
    font-family: 'Oswald', sans-serif;
    background: #f6f5f7;

}

/*--------------------------------------------------*/
