
body{
    background-color: black;
}
#wrapper{
    margin-top: 120px;
    position: absolute;
    left: 35%;
    width: 30%;
    padding-bottom: 140px;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
    background: linear-gradient(to right, #4acfac, #7e8ce0 ) no-repeat 0 0 / cover;
    border-radius: 3%;
    
    
}

h2{
    
    color:black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;   

}

input{
    
    margin: 15px;
    padding-top: 20px;
    padding-right: 50px;
    margin-left: 10%;
    background-color: #eee;;
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 3%;
    border:black 1px solid;
}
#submit{
    margin-top: 20px;
}
.form-group{
    margin-top: 10px;
}

#submit input{
    border-radius: 20px;
    border: 1px solid #2FACB4;
    background: black;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#submit a{
    color: white;
    font: bolder;
    font-size: 18px;
}

#submit input:hover{
    border-radius: 20px;
    border: 1px solid white;
    background: #2FACB4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
::placeholder{
    color: black;
    font-size: 19px;
}


p{
    color:black;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

